@keyframes flexmls_querying_spin {
	100% {
		transform:rotate(360deg);
	}
}
.flexmls-location-thickbox {

	header {
		border-bottom: 1px solid #ddd;
		padding: 13px 0 15px;

		input[type="search"]{
			box-sizing: border-box;
			display: block;
			padding: 0.5em;
			width: 100%;
		}
	}

	section {
		padding-top: 15px;
	}

	.dashicons.flexmls-querying {
		animation: flexmls_querying_spin 2s linear infinite;
	}
}