@keyframes flexmls_querying_spin {
	100% {
		transform:rotate(360deg);
	}
}
.flexmls-location-thickbox {

	header {
		border-bottom: 1px solid #ddd;
		padding: 13px 0 15px;

		input[type="search"]{
			box-sizing: border-box;
			display: block;
			padding: 0.5em;
			width: 100%;
		}
	}

	section {
		padding-top: 15px;
	}

	.dashicons.flexmls-querying {
		animation: flexmls_querying_spin 2s linear infinite;
	}
}
.flexmls-location-result {
	@include clearfix;

	h2 {
		clear: left;
		float: left;
		font-size: 1em;
		margin: 0;
		padding: 1px 10px 10px 0;
		text-transform: uppercase;
		width: 120px;
	}

	ul {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0 0 6px;
	}

	li {
		list-style: none;
		margin: 0;
		padding: 0 0 4px;
		white-space: nowrap;
	}
}