/*----------------------------------------------------------------------
  Listing Summaries
----------------------------------------------------------------------*/
.flexmls-listings-meta {
	@include clearfix;
}
.flexmls-listings-count {
	margin: 0 0 1rem;
	text-align: right;

	span {
		display: inline-block;
		vertical-align: middle;
	}

	.flexmls-listings-count-number {
		font-size: 1.25rem;
		font-weight: bold;
	}
	.flexmls-listings-count-text {
		font-size: 0.85rem;
	}
}
.flexmls-listings-view-tabs {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;

	li {
		box-sizing: border-box;
		display: inline-block;
		font-size: 1rem;
		margin: 0;
		padding: 0;
		width: 50%;

		a {
			background: $brand-grey-xlt;
			border: 1px solid $brand-grey-xlt;
			box-shadow: none;
			display: block;
			padding: 0.5rem;
			text-decoration: none;
			transition: background 300ms, color 300ms;

			&:hover,
			&:focus,
			&:active {
				background: $brand-blue;
				box-shadow: none;
				color: #fff;
			}
		}

		&.tab-active {
			a {
				background: $brand-blue;
				color: #fff;
				pointer-events: none;
			}
		}
	}
}
.flexmls-listings-sort {
	@media (min-width: $phablet){
		text-align: right;
	}
	div {
		margin-bottom: 1rem;

		@media (min-width: $phablet){
			display: inline-block;
			margin-left: 1rem;

			&:first-child {
				margin-left: 0;
			}
		}
	}
	select {
		display: block;
		width: 100%;

		@media (min-width: $phablet){
			width: auto;
		}
	}
}

#flexmls-listing-map {
	margin-bottom: 1rem;
}

.listings-listing {
	@include clearfix;
	margin-bottom: 2rem;

	.listing-header {
		@include clearfix;
		position: relative;
	}

	address {
		font-size: 1rem;
		font-style: normal;
		font-weight: bold;
		margin: 0 0 1rem;

		a {
			display: inline-block;
		}

		.listing-address-line-1 {
			display: block;
			font-size: 1.5rem;
		}

		.listing-address-line-1 {
			display: block;
			font-size: 1.25rem;
		}
	}

	.status {
		font-size: 0.85rem;
		margin: 0;
		padding: 0;
		text-transform: uppercase;
		&.status-active {

		}
	}

	.price {
		font-size: 1.5rem;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}

	.quickfacts {
		display: block;
		font-size: 0;
		list-style: none;
		margin: 0 0 1rem;
		padding: 0;

		li {
			display: inline-block;
			font-size: 0.85rem;
			margin: 0 0 0 0.5rem;
			padding: 0;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.flexmls-carts-buttons {
		display: block;
		font-size: 0;
		list-style: none;
		margin: 0 0 1rem;
		padding: 0;

		@media (min-width: $tablet){
			position: absolute;
			right: 0;
			top: 0;
		}

		li {
			display: inline-block;
			font-size: 1.5rem;
			margin: 0 0 0 1rem;
			padding: 0;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.media-container {
		@media (min-width: $tablet){
			float: left;
			width: 47%;
		}
	}

	.content-container {
		@media (min-width: $tablet){
			float: right;
			width: 47%;
		}
	}

	.listing-media {
		font-size: 0;
		list-style: none;
		margin: 0 0 1rem;
		padding: 0;

		li {
			display: inline-block;
			font-size: 1rem;
			margin: 0 0 0.5rem 1rem;

			&:first-child {
				margin-left: 0;
			}
		}
	}

	.action-buttons {
		font-size: 0;
		list-style: none;
		margin: 0 0 2rem;
		padding: 0;

		li {
			display: inline-block;
			font-size: 1rem;
			margin: 0 0 1rem 0.5rem;

			&:first-child {
				margin-left: 0;
			}
		}
		a {
			background: $brand-blue;
			color: #fff;
			display: block;
			padding: 0.5rem 2rem;
			text-decoration: none;
			transition: background 300ms;

			&:hover,
			&:focus,
			&:active {
				background: darken($brand-blue,10%);
			}
		}
	}

	.listing-table {
		@include clearfix;
		font-size: 0;
		margin: 0;
		padding: 0;

		@media (min-width: $phablet){
			margin: 0 0 2rem;
		}

		dt {
			box-sizing: border-box;
			display: block;
			font-size: 1rem;
			margin: 0;
			padding: 0;
			position: relative;
			vertical-align: top;

			@media (min-width: $phablet){
				display: inline-block;
				padding: 0.5rem;
				width: 50%;

				&:nth-of-type(2n){
					background: $brand-grey-xlt;
				}
			}
		}

		dd {
			box-sizing: border-box;
			display: block;
			font-size: 1rem;
			margin: 0 0 1rem;
			padding: 0;
			position: relative;
			vertical-align: top;

			@media (min-width: $phablet){
				display: inline-block;
				margin: 0;
				padding: 0.5rem;
				width: 50%;

				&:nth-of-type(2n){
					background: $brand-grey-xlt;
				}
			}
		}
	}

	.flexmls-idx-logo {
		margin: 0 0 1rem;
		text-align: center;

		@media (min-width: $phablet){
			text-align: right;
		}

		img {
			height: auto;
			max-width: 50%;
		}
	}

	.listing-updated {
		font-size: 0.85rem;
		text-align: center;
	}
}

.flexmls-listing-big-disclaimer {
	font-size: 0.85rem;
	padding: 0.5rem;
	text-align: center;
}

.flexmls-infowindow {
	@include clearfix;
	width: 280px;
}

.flexmls-infowindow-image {
	background-position: center center;
	background-size: cover;
	display: block;
	float: left;
	max-width: 400px;
	width: 50%;

	&::before {
		content: '';
		display: block;
		padding-top: 100%;
	}
}

.flexmls-infowindow-details {
	left: 50%;
	padding-left: 0.5rem;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}

.flexmls-infowindow-status {
	font-size: 0.85rem;
	text-transform: uppercase;
}

.flexmls-infowindow-price {
	font-size: 1.2rem;
	font-weight: bold;
}

.flexmls-infowindow-quickfacts {
	display: block;
	font-size: 0;
	list-style: none;
	margin: 0 !important;
	padding: 0 !important;

	li {
		display: inline-block;
		font-size: 0.85rem;
		line-height: normal;
		margin: 0;
		padding: 0;

		&:first-child {
			&::after {
				content: ',';
				margin-right: 0.25rem;
			}
		}

		&:last-child {
			display: block;
		}
	}
}

.flexmls-infowindow-viewlisting {
	background: #fff;
	bottom: 0;
	position: absolute;
	right: 0;
	white-space: nowrap;
}
