.flexmls-content *,
.flexmls-content *::before,
.flexmls-content *::after {
	box-sizing: border-box;
}
.flexmls-button {
	border: 1px solid $brand-blue;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	padding: 0.5rem 1.5rem;
	text-decoration: none !important;
	text-transform: uppercase;
}
.flexmls-button-primary {
	background: $brand-blue;
	color: #fff !important;
	transition: background 300ms, opacity 300ms;

	&:hover,
	&:focus,
	&:active {
		background: darken($brand-blue,10%);
	}

	&:disabled {
		cursor: disabled;
		opacity: 0.5;
		pointer-events: none;
	}
}
.flexmls-form-notice {
	color: #fff;
	margin: 0 0 1rem;
	padding: 1rem;
	text-align: center;
}

.flexmls-form-notice-warning {
	background: $wordpress-red;
}

.flexmls-form-notice-success {
	background: $wordpress-green;
}
#flexmls-loading-spinner {
	background: rgba(255,255,255,0.9);
	bottom: 0;
	display: none;
	left: 0;
	pointer-events: all;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99999;

	&.show {
		display: block;
	}

	svg {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%,-50%);
	}
}
.mfp-close {
	width: 44px;

	&:hover,
	&:focus {
		background: transparent;
	}
}
.mfp-arrow-left,
.mfp-arrow-right {
	&::before {
		opacity: 1;
	}
	&:hover,
	&:focus {
		background: transparent;
		box-shadow: none;
	}
}
.mfp-arrow-left::before {
	border-right-color: $brand-blue;
}
.mfp-arrow-right::before {
	border-left-color: $brand-blue;
}