/*----------------------------------------------------------------------
  FBS, FlexMLS, and WordPress Brand Colors
----------------------------------------------------------------------*/
$brand-black:     #000000;
$brand-blue:      #4b6ed0;
$brand-grey-xlt:  #eaeaea;

$wordpress-background: #f1f1f1;
$wordpress-green: #46b450;
$wordpress-red:   #dc3232;


/*----------------------------------------------------------------------
  Breakpoints
----------------------------------------------------------------------*/
$admin-phablet: 601px;
$admin-tablet: 783px;


/*----------------------------------------------------------------------
  Custom mixins
----------------------------------------------------------------------*/
@mixin clearfix {
	&::after {
		clear: both;
		content: "";
		display: block;
	}
}