@import "variables";
@import "../bower_components/font-awesome/scss/font-awesome";
@import "../bower_components/magnific-popup/src/css/main";


/*----------------------------------------------------------------------
  General stylings universal to all themes
----------------------------------------------------------------------*/
@import "public/pagination";
@import "public/print";


/*----------------------------------------------------------------------
  Import themes
----------------------------------------------------------------------*/
@import "public/themes/default";